@if (loadingAnnouncements) {
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="height: 100vh"
    >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="my-2 dynamic-font-size">{{ labels.loadingNetworkInfo[lang] }}</p>
  </div>
} @else {
  <div style="height: 50vh">
    @if (announcements.length > 0) {
      <section class="testimonials-area bg-color">
        <owl-carousel-o [options]="announcementsSliderOptions">
          @for (announcement of announcements; track announcement) {
            <ng-template carouselSlide>
              <div class="announcement-image__banner-container">
                <img
                  [src]="getImageUrlByName(announcement.imageName)"
                style="
                  border-radius: 0px;
                  padding: 10px;
                  object-fit: cover;
                  width: 100%;
                  height: auto;
                  max-height: calc(100vh - 100px);
                  z-index: -1;
                "
                  alt=""
                  />
                <div
                  class="position-absolute w-100 d-flex justify-content-center"
                  style="z-index: 10000; bottom: 5px"
                  >
                  <div class="details d-flex flex-column justify-content-center">
                    <button
                      type="button"
                      class="default-btn my-3 dynamic-font-size"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                      (click)="setActiveAnnouncement(announcement.id!)"
                      >
                      {{ labels.seeDetails[lang] }}...
                    </button>
                  </div>
                </div>
              </div>
              <div class="testimonials-item mb-2 dynamic-font-size text-center">
                {{ labels.issuedBy[lang] }}:
                <h3 class="dynamic-font-size">{{ announcement.issuedBy }}</h3>
                <span class="dynamic-font-size">{{
                  formatAnnouncementDate(announcement.createdAt.getTime())
                }}</span>
              </div>
            </ng-template>
          }
        </owl-carousel-o>
      </section>

      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog">
          @if (activeAnnouncement) {
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  {{ labels.announcementDetail.title[lang] }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <h3>{{ activeAnnouncement.title }}.</h3>
                @for (paragraph of activeAnnouncement.paragraphs; track paragraph) {
                  <p>
                    {{ paragraph }}
                  </p>
                }
              </div>
              <div class="modal-footer">
                <button
                  #closeUploadPDFButton
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                  >
                  {{ labels.announcementDetail.closeBtn[lang] }}
                </button>
              </div>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="container">
        <div class="alert alert-primary text-center mt-5" role="alert">
          {{ labels.noAnnouncements[lang] }}
        </div>
      </div>
    }
  </div>
}
