@if (recommendedOptions.length === 0) {
  <div
    class="text-center text-danger mb-1 w-100 mx-auto"
    >
    <small>{{ labels.noResults[lang] }}</small>
  </div>
} @else {
  <div class="text-center text-warning mb-1 w-100 mx-auto">
    <small>{{ labels.someResultsFiltered[lang] }}</small>
  </div>
}


<ul class="recommendations-list">
  @for (recommendedOption of recommendedOptions; track recommendedOption; let isLast = $last) {
    <li
      class="row d-flex align-items-center m-2"
      >
      <div class="col-lg-4" style="font-weight: 600">
        {{ recommendedOption.generalTitle }}
      </div>
      <div class="col-lg-3" style="font-weight: 600">
        {{ recommendedOption.projectTypeId }}
      </div>
      <div class="col-lg-3 text-end" style="font-weight: 600">
        {{ recommendedOption.researchLineId }}
      </div>
    </li>
  }
</ul>
