<form
  [formGroup]="formGroup"
  (ngSubmit)="handleSubmit()"
  class="get-quote-form"
>
  <section>
    <div class="row pt-5">
      <div class="col-lg-12 col-sm-12 position-relative">
        <label
          for="generalObjective"
          class="position-absolute"
          style="top: -25px"
        >
          {{ labels.generalObjective.label[lang] }}
        </label>

        <div class="col-lg-12 col-sm-12">
          <div class="form-group">
            <input
              type="text"
              name="generalObjective"
              formControlName="generalObjective"
              class="form-control"
              [placeholder]="labels.generalObjective.placeholder[lang]"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-lg-5 col-sm-12 d-flex m-auto">
      <button type="reset" class="btn default-btn clean-button m-1">
        {{ labels.restoreChanges[lang] }}
      </button>
    </div>
  </div>
</form>
