<section class="card">
  <div class="card-header">
    <h2>{{ labels.resourceType[lang] }} #10</h2>
  </div>
  <div class="card-body content step-2 p-2">
    <div class="why-choose-us-area why-choose-us-area-two">
      <div class="container">
        <youtube-player
          [videoId]="getYoutubeLinkId(resourceContent.youtubeLink)"
          [startSeconds]="0"
        ></youtube-player>
        <div class="source">
          <h6>{{ resourceContent.title }}</h6>
          @for (paragraph of resourceContent.paragraphs; track paragraph) {
            <p>
              {{ paragraph }}
            </p>
          }
          <i>{{ resourceContent.source }}</i>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button
          [disabled]="isFirst"
          (click)="moveUp()"
          [ngClass]="{ 'disable-button': isFirst }"
          class="btn btn-info m-1 text-white"
        >
          <i class="bx bx-up-arrow"></i>
        </button>
        <button
          [disabled]="isLast"
          (click)="moveDown()"
          [ngClass]="{ 'disable-button': isLast }"
          class="btn btn-info m-1 text-white"
        >
          <i class="bx bx-down-arrow"></i>
        </button>
        <button
          class="btn btn-danger m-1"
          (click)="handleDeleteResource($event)"
        >
          {{ labels.delete[lang] }}
        </button>
      </div>
    </div>
  </div>
</section>
