<div
  class="modal fade w-100"
  id="allNewsMonthlySummariesModal"
  tabindex="-1"
  aria-labelledby="allNewsCategoriesModal"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="allNewsMonthlySummariesModal">
          {{ labels.title[lang] }}
        </h5>

        <button
          #closeModalBtn
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        @for (yearlySummary of yearlySummaries; track yearlySummary) {
          <div>
            <div class="row">
              <p>{{ yearlySummary.year }}</p>
              <ul style="margin-bottom: 20px">
                @for (month of yearlySummary.months; track month) {
                  <li>
                    <a
                  [routerLink]="'/noticias?categoriaId='"
                  target="_blank"
                  class="row mx-1 py-2 category-summary__item"
                  style="padding-left: 20px"
                >
                  <span class="col-10">
                    <a>{{ month[lang] }}</a>
                  </span>
                  <span class="col-2 text-end">
                    {{ month.count }}
                    {{
                      month.count > 1
                        ? labels.newsPlural[lang]
                        : labels.newsSingular[lang]
                    }}
                  </span>
                </a>
              </li>
}
            </ul>
          </div>
        </div>
}
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-info text-white"
          data-bs-dismiss="modal"
        >
          {{ labels.closeBtn[lang] }}
        </button>
      </div>
    </div>
  </div>
</div>
