<div class="partner-area bg-color">
  <!-- <div style="padding-left: 45px; padding-right: 45px"> -->
  <app-announcements></app-announcements>
</div>

<div class="partner-area bg-color">
  <!-- <div style="padding-left: 45px; padding-right: 45px"> -->
  <div class="container">
    <app-main-events></app-main-events>
  </div>
</div>

<div class="partner-area bg-color">
  <!-- <div style="padding-left: 45px; padding-right: 45px"> -->
  <div class="container pt-5">
    <app-direct-links></app-direct-links>
  </div>
</div>

<div class="partner-area bg-color">
  <!-- <div style="padding-left: 45px; padding-right: 45px"> -->
  <div class="container pt-5">
    <app-main-news></app-main-news>
  </div>
</div>

<div class="partner-area bg-color" style="padding-bottom: 300px">
  <div class="container pt-5">
    <app-partners-banner></app-partners-banner>
  </div>
</div>
