<section class="pt-2">
  <div class="tab get-quote-tab">
    <ul class="tabs">
      <li class="default-btn" #listMinutesLI (click)="changeActiveTab(0)">
        {{ labels.listMinutes[lang] }} {{ group ? group.label[lang] : '' }}
      </li>
      @if (isAllowedToCreate) {
        <li class="default-btn" (click)="changeActiveTab(1)">
          {{ labels.createMinute[lang] }} {{ group ? group.label[lang] : '' }}
        </li>
      }
    </ul>

    @if (networkGroup) {
      <div class="mb-5">
        <div>
          @switch (activeTabIndex) {
            @case (0) {
              <div class="tabs_item">
                <app-list-group-minutes></app-list-group-minutes>
              </div>
            }
            @case (1) {
              <div class="tabs_item">
                @if (isAllowedToCreate) {
                  <div>
                    <app-create-group-minute
                      (onCreate)="createMinute($event)"
                    ></app-create-group-minute>
                  </div>
                }
              </div>
            }
          }
        </div>
      </div>
    }
  </div>
</section>
