@if (loadingNews) {
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="margin-top: 100px; margin-bottom: 200px"
    >
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p class="my-2">Cargando Información del Evento...</p>
  </div>
} @else {
  @if (newsDetail) {
    <div>
      <div class="page-title-area bg-newsletter">
        <div class="container">
          <div class="page-title-content">
            <h2>{{ newsDetail.title }}</h2>
            <ul>
              <li>
                @if (variant === 'PUBLIC') {
                  <a routerLink="/">{{ labels.main[lang] }}</a>
                } @else {
                  <a routerLink="/intranet">{{ labels.main[lang] }}</a>
                }
              </li>
              <li>
                @if (variant === 'PUBLIC') {
                  <a routerLink="/noticias">{{ labels.news[lang] }}</a>
                } @else {
                  <a routerLink="/intranet/noticias">{{ labels.news[lang] }}</a>
                }
              </li>
              <li class="active">{{ newsDetail.title }}</li>
            </ul>
          </div>
        </div>
      </div>
      <section class="blog-details ptb-100">
        <div class="container">
          <section class="d-lg-none d-md-block d-sm-block">
            <div
              class="mb-4"
              style="cursor: pointer"
              (click)="handleToggleMobileSidebar()"
              >
              <div
                class="d-flex justify-content-between align-items-center p-3 bg-secondary-color"
                >
                <span>Show filters</span>
                @if (showMobileSidebar) {
                  <i class="bx bx-chevron-up"></i>
                } @else {
                  <i class="bx bx-chevron-down"></i>
                }
              </div>
            </div>
            @if (showMobileSidebar) {
              <div class="mb-3">
                <app-current-news-sidebar
                  [newsDetail]="newsDetail"
                ></app-current-news-sidebar>
              </div>
            }
          </section>
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="blog-details-content">
                <app-current-news-summary
                  [newsDetail]="newsDetail"
                ></app-current-news-summary>
                <section class="car-insurance-area pt-100 pb-70">
                  @if (newsDetail.resources.length > 0) {
                    <div class="container">
                      @for (resource of newsDetail.resources; track resource) {
                        <div
                          class="car-insurance-content"
                          >
                          <div>
                            @switch (resource.resourceType) {
                              @case ('CONTENT__TITLE_AND_PARAGRAPH') {
                                <div>
                                  <app-resource-content-type1
                                    [content]="resource.content"
                                  ></app-resource-content-type1>
                                </div>
                              }
                              @case (
                                'CONTENT__TITLE_SUBTITLE_AND_PARAGRAPH'
                                ) {
                                <div
                                  >
                                  <app-resource-content-type2
                                    [content]="resource.content"
                                  ></app-resource-content-type2>
                                </div>
                              }
                              @case ('CONTENT__TITLE_PARAGRAPHS_AND_IMAGES') {
                                <div
                                  >
                                  <app-resource-content-type3
                                    [content]="resource.content"
                                    [target]="'news'"
                                  ></app-resource-content-type3>
                                </div>
                              }
                              @case (
                                'CONTENT__TITLE_PARAGRAPHS_AND_LIST_ITEMS'
                                ) {
                                <div
                                  >
                                  <app-resource-content-type4
                                    [content]="resource.content"
                                  ></app-resource-content-type4>
                                </div>
                              }
                              @case (
                                'CONTENT__TITLE_TOGGLE_ITEMS_AND_IMAGE'
                                ) {
                                <div
                                  >
                                  <app-resource-content-type5
                                    [content]="resource.content"
                                    [target]="'news'"
                                  ></app-resource-content-type5>
                                </div>
                              }
                              @case (
                                'CONTENT__TITLE_PARAGRAPHS_AND_SORTED_OR_UNSORTED_LIST'
                                ) {
                                <div
                                  >
                                  <app-resource-content-type6
                                    [content]="resource.content"
                                  ></app-resource-content-type6>
                                </div>
                              }
                              @case (
                                'CONTENT__QUOTES_FEEDBACKS_OR_REFERENCES_1'
                                ) {
                                <div
                                  >
                                  <app-resource-content-type7
                                    [content]="resource.content"
                                    [target]="'news'"
                                  ></app-resource-content-type7>
                                </div>
                              }
                              @case (
                                'CONTENT__QUOTES_FEEDBACKS_OR_REFERENCES_2'
                                ) {
                                <div
                                  >
                                  <app-resource-content-type8
                                    [content]="resource.content"
                                    target="news"
                                  ></app-resource-content-type8>
                                </div>
                              }
                              @case ('CONTENT__QUOTE_AND_AUTHOR') {
                                <div>
                                  <app-resource-content-type9
                                    [content]="resource.content"
                                  ></app-resource-content-type9>
                                </div>
                              }
                              @case ('CONTENT__DYNAMIC_BANNER') {
                                <div>
                                  <app-resource-content-type10
                                    [content]="resource.content"
                                    [target]="'news'"
                                  ></app-resource-content-type10>
                                </div>
                              }
                              @case ('CONTENT__VIDEO_AND_REFERENCES') {
                                <div>
                                  <app-resource-content-type11
                                    [content]="resource.content"
                                  ></app-resource-content-type11>
                                </div>
                              }
                              @case ('CONTENT__MAP') {
                                <div>
                                  <app-resource-content-type12
                                    [content]="resource.content"
                                  ></app-resource-content-type12>
                                </div>
                              }
                              @case ('CONTENT__FILES') {
                                <div>
                                  <app-resource-content-type13
                                    [content]="resource.content"
                                  ></app-resource-content-type13>
                                </div>
                              }
                              @case ('CONTENT__LINK') {
                                <div>
                                  <app-resource-content-type14
                                    [content]="resource.content"
                                  ></app-resource-content-type14>
                                </div>
                              }
                              @default {
                                <div>
                                  {{ labels.resourceTypeNotFound[lang] }}
                                </div>
                              }
                            }
                          </div>
                        </div>
                      }
                    </div>
                  } @else {
                    <div class="container text-center alert alert-info">
                      <p>{{ labels.noResourcesAvailableForThisNews[lang] }}</p>
                    </div>
                  }
                </section>
                <div class="tags-social">
                  <app-current-news-tags
                    [tags]="newsDetail.tags"
                  ></app-current-news-tags>
                  <!-- <ul class="social">
                  <li><span>Compartir:</span></li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="bx bxl-facebook-circle"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="bx bxl-whatsapp"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                  </li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="col-lg-4 d-lg-block d-md-none d-sm-none">
            @if (newsDetail) {
              <div>
                <app-current-news-sidebar
                  [newsDetail]="newsDetail"
                ></app-current-news-sidebar>
              </div>
            }
          </div>
        </div>
      </div>
    </section>
  </div>
}
}

