<div class="approvers-section-title">
  <h3 class="title">{{ labels.editAssistants[lang] }}</h3>
</div>

<div class="container row m-auto">
  @if (loadingAssistants) {
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      >
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p class="my-2">{{ 'Cargando' }}...</p>
    </div>
  } @else {
    <!-- ---------------------------- -->
    <section class="get-quote-area pt-4">
      <div class="container">
        <div class="get-quote-form">
          <div class="row position-relative">
            <div class="col-lg-12 col-sm-12">
              <form
                [formGroup]="formGroup"
                autocomplete="off"
                class="form-group"
                >
                <input
                  type="text"
                  autocomplete="off"
                  formControlName="searchTerm"
                  name="searchTerm"
                  [placeholder]="labels.searchByName[lang]"
                  (keyup)="handleSearchByTerm($event)"
                  (click)="handleOpenOptions($event)"
                  class="form-control"
                  id="user-search-input"
                  />
              </form>
            </div>
            @if (displaySearchOptions) {
              <div
                id="user-search-options"
                class="position-relative col-12"
                >
                <div class="minute-recommended-option__container">
                  @for (recommendation of recommendedUsers; track $index) {
                    <div
                      id="user-search-options"
                      class="mx-3 mx-auto col-12 py-3 px-2"
                      (click)="handleSetActiveUserId(recommendation.id)"
                      >
                      <p id="user-search-options">{{ recommendation.name }}</p>
                    </div>
                    @if (
                      recommendation.id === formGroup.get('activeUserId')?.value
                      ) {
                      <div class="overflow-x-hidden p-2">
                        <p>{{ labels.didAttend[lang] }}</p>
                        <div
                          id="user-search-options"
                          class="row w-100 form-check form-check-inline"
                          >
                          <div class="row col-12 pb-2">
                            <div class="col-6">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="attended"
                                (change)="handleAttendedChange($event)"
                                id="attended-yes"
                                value="yes"
                                />
                              <label
                                class="form-check-label"
                                id="attended-yes"
                                for="attended-yes"
                                >
                                {{ labels.yes[lang] }}
                              </label>
                            </div>
                            <div class="col-6 px-2">
                              <input
                                id="user-search-options"
                                class="form-check-input"
                                type="radio"
                                (change)="handleAttendedChange($event)"
                                name="attended"
                                id="attended-no"
                                value="no"
                                formControlName="attended"
                                />
                              <label
                                class="form-check-label"
                                id="attended-no"
                                for="attended-no"
                                >
                                {{ labels.no[lang] }}
                              </label>
                            </div>
                          </div>
                          <div class="row col-12">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button
                                class="default-btn w-100 bg-success"
                                (click)="handleAddAssistant()"
                                >
                                {{ labels.add[lang] }}
                              </button>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <button
                                id="user-search-options"
                                class="default-btn bg-danger"
                                (click)="handleResetActiveUser()"
                                >
                                {{ labels.close[lang] }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                  }
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </section>
    <div class="approvers-list">
      @for (assistantInfo of assistants; track assistantInfo) {
        <div
          class="col-lg-12 col-sm-12 mb-3"
          >
          <div class="candidate-list-box container card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4">
                  @if (assistantInfo.browserUrl) {
                    <div
                      class="candidate-list-images"
                      >
                      <img
                        [src]="assistantInfo.browserUrl"
                        alt=""
                        class="avatar-md img-thumbnail rounded-circle"
                        />
                    </div>
                  } @else {
                    <i
                      style="font-size: 50px; border-radius: 50%; padding: 15px"
                      class="bx bx-user rounded-circle text-center w-100"
                    ></i>
                  }
                </div>
                <div class="col-lg-7 col-md-8 col-sm-8">
                  <div class="candidate-list-content">
                    <h5 class="fs-19 mb-0">
                      <a class="primary-link" href="#">
                        {{ assistantInfo.assistant.name }}
                      </a>
                    </h5>
                    @if (assistantInfo.attended) {
                      <span
                        class="rounded-pill bg-success badge badge-primary position-relative m-1"
                        >
                        <span class="position-relative p-1">
                          {{ labels.assisted[lang] }}
                        </span>
                        <i
                          class="bx bx-user-pin position-relative"
                          style="top: 1px"
                        ></i>
                      </span>
                    } @else {
                      <span
                        class="rounded-pill bg-danger badge badge-primary position-relative m-1"
                        >
                        <span class="position-relative p-1">
                          {{ labels.notAssisted[lang] }}
                        </span>
                        <i
                          class="bx bx-user-x position-relative"
                          style="top: 1px"
                        ></i>
                      </span>
                    }
                  </div>
                </div>
                <div
                  class="col-lg-2 col-md-2 d-flex flex-row justify-content-end align-items-center"
                  >
                  <button
                    class="btn btn-danger"
                    type="button"
                    (click)="handleDeleteAssistant(assistantInfo.assistant.id)"
                    >
                    {{ labels.delete[lang] }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
    @if (assistants.length === 0) {
      <div class="alert alert-info mt-1 text-center" role="alert">
        <b>{{ labels.noApproversFound[lang] }}</b>
      </div>
    } @else {
      <app-complete-pagination
        [totalElements]="pagination.totalElements"
        [pageSize]="pagination.pageSize"
        [currentPage]="pagination.currentPage"
        [showTotalRecords]="true"
        (onPageChange)="handleGoToPage($event)"
        >
      </app-complete-pagination>
    }
  }

</div>
