@if (section.paragraphs.length > 0) {
  <div class="mb-3">
    @for (paragraph of section.paragraphs; track $index) {
      <p class="mb-2">{{ paragraph }}</p>
    }
  </div>
}

<div class="mb-3">
  <app-grid-images
    [images]="section.images"
    [resourceDirectory]="'ecosystems'"
  ></app-grid-images>
</div>

<div class="row mt-4">
  <div class="row mb-5">
    @for (project of section.projects; track $index; let i = $index) {
      <div class="col-lg-6 col-sm-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <p class="card-text">
              <strong>{{ labels.author[lang] }}:</strong> {{ project.author }}
            </p>
            <p class="card-text">
              <strong>{{ labels.objectives[lang] }}:</strong>
            </p>
            <ul>
              @for (objective of project.objectives; track $index) {
                @if ($index === 0) {
                  <b>{{ labels.generalObjective[lang] }}</b>
                }
                <li>{{ objective }}</li>
                @if ($index === 0) {
                  <b>{{ labels.specificObjectives[lang] }}</b>
                }
              }
            </ul>
          </div>
        </div>
      </div>
    }
  </div>
</div>

@for (archive of section.resources; track $index) {
  <div class="container-fluid px-3 py-2 mb-3 bg-secondary rounded-1 text-white">
    <div class="d-flex align-items-center gap-3">
      <div class="flex-shrink-0">
        <img
          [src]="'/img/events/filetypes/' + archive.filetype + '.png'"
          [alt]="archive.originalFilename"
          style="width: 30px"
          class="image-list"
          [title]="archive.originalFilename"
        />
      </div>

      <div class="flex-grow-1">
        <p class="fw-bold">{{ archive.filename }}</p>
      </div>

      <div class="d-flex gap-2 flex-shrink-0">
        <button
          (click)="downloadFile(archive.filename, archive.originalFilename)"
          class="btn btn-primary btn-sm"
        >
          <i class="bx bx-cloud-download"></i> {{ labels.download[lang] }}
        </button>
        <button
          (click)="handleFetchPdf(archive.filename)"
          class="btn btn-info btn-sm text-white"
        >
          <i class="bx bx-show"></i> {{ labels.view[lang] }}
        </button>
      </div>
    </div>

    @if (errorDocument) {
      <div class="alert alert-danger mt-3" role="alert">
        <i class="bx bx-error-circle"></i> {{ labels.errorLoadingFile[lang] }}
      </div>
    }

    @if (displayPdfDocument && !errorDocument) {
      <div class="mt-3">
        <button (click)="hideDocument()" class="btn btn-danger btn-sm mb-2">
          <i class="bx bx-hide"></i> {{ labels.hide[lang] }}
        </button>
        <div style="height: 80vh">
          <iframe
            id="pdfFrame"
            [src]="pdfDocument"
            width="100%"
            height="100%"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    }
  </div>
}
