<form>
  <div class="row pt-3">
    <div class="col-lg-4 col-md-12">
      <div class="form-group" style="height: 50px">
        <select #filetypeSelect class="w-100 h-100">
          <option value="">{{ labels.selectATypeOfFile[lang] }}</option>
          <option value="PDF">PDF (.pdf)</option>
          <option value="WORD">WORD (.docx)</option>
          <option value="PLAIN_TEXT">TEXTO PLANO (.txt)</option>
          <option value="EXCEL">EXCEL (.xlsx)</option>
          <option value="CSV">CSV (.csv)</option>
          <option value="COMPRESSED_FILE">
            ARCHIVO COMPRIMIDO (.rar, .zip)
          </option>
        </select>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <label
        for="fileInput_3"
        class="custom-file-button w-100 text-center"
        style="height: 50px; font-weight: 800"
      >
        <input
          type="file"
          formControlName="signature"
          id="fileInput_3"
          (change)="onFileSelected($event)"
          class="file-input"
        />
        <span class="mt-2">{{
          currUploadedFile
            ? labels.changeDocument[lang]
            : labels.selectDocument[lang]
        }}</span>
      </label>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="form-group">
        <button
          class="default-btn bg-success rounded-3"
          [disabled]="!currUploadedFile"
          type="button"
          (click)="handleAddFile()"
        >
          {{ labels.addFile[lang] }}
        </button>
      </div>
    </div>
  </div>

  @if (currUploadedFile) {
    <div class="col-lg-12 col-md-12">
      <p>
        <b>{{ labels.pendingToConfirm[lang] }}: {{ currUploadedFile.name }}</b>
      </p>
    </div>
  }

  <div class="row">
    <h4>{{ labels.listOfFiles[lang] }}</h4>

    <div class="container">
      @if (convocationFiles.length === 0) {
        <div class="alert alert-info text-center">
          {{ labels.noFilesUploaded[lang] }}
        </div>
      }
    </div>

    <div class="row mb-5">
      @for (file of convocationFiles; track file; let i = $index) {
        <div class="col-lg-3 col-sm-12 position-relative">
          <img
            [src]="
              '/img/events/filetypes/' +
              getFileExtension(file.filename) +
              '.png'
            "
            [alt]="file.name"
            alt="Image"
            width="100px"
            class="image-list"
            [title]="file.name"
          />
          <div class="mb-5 mt-2">
            <b class="mt-2">Archivo #{{ i + 1 }}</b>
            <p>{{ file.name }}</p>
            <button
              type="button"
              class="btn btn-danger"
              (click)="handleDeleteFile(i)"
            >
              {{ labels.deleteFile[lang] }}
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</form>
