@switch (section.TYPE) {
  @case ('SCIENTIFIC_ECOSYSTEM__ABOUT_US') {
    <app-scientific-ecosystem-about-us
      [section]="parsedToAboutUs"
    ></app-scientific-ecosystem-about-us>
  }
  @case ('SCIENTIFIC_ECOSYSTEM__GENERAL_OBJECTIVE') {
    <app-scientific-ecosystem-general-objective
      [section]="parsedToGeneralObjective"
    >
    </app-scientific-ecosystem-general-objective>
  }
  @case ('SCIENTIFIC_ECOSYSTEM__SPECIFIC_OBJECTIVES') {
    <app-scientific-ecosystem-specific-objectives
      [section]="parsedToSpecificObjectives"
    >
    </app-scientific-ecosystem-specific-objectives>
  }
  @case ('SCIENTIFIC_ECOSYSTEM__ROADMAP') {
    <app-scientific-ecosystem-roadmap [section]="parsedToRoadmap">
    </app-scientific-ecosystem-roadmap>
  }
  @case ('SCIENTIFIC_ECOSYSTEM__GUIDELINES') {
    <app-scientific-ecosystem-guidelines [section]="parsedToGuidelines">
    </app-scientific-ecosystem-guidelines>
  }
  @case ('SCIENTIFIC_ECOSYSTEM__HOW_TO_PARTICIPATE') {
    <app-scientific-ecosystem-how-to-participate
      [section]="parsedToHowToParticipate"
    >
    </app-scientific-ecosystem-how-to-participate>
  }
  @case ('SCIENTIFIC_ECOSYSTEM__MEMBERS') {
    <app-scientific-ecosystem-members [section]="parsedToMembers">
    </app-scientific-ecosystem-members>
  }
  @case ('SCIENTIFIC_ECOSYSTEM__PROJECTS') {
    <app-scientific-ecosystem-projects [section]="parsedToProjects">
    </app-scientific-ecosystem-projects>
  }
  @case ('SCIENTIFIC_ECOSYSTEM__CONTACT') {
    <app-scientific-ecosystem-contact [section]="parsedToContact">
    </app-scientific-ecosystem-contact>
  }
}
