<div class="accessibility-panel">
  <div
    (click)="handleIncrementFontSize()"
    [ngClass]="{ 'change-font-size__disabled': fontScale === 7 }"
    id="increase-font-size"
    class="accessibility-item accessibility_title_item accessibility-item-first"
    >
    A&nbsp;+
  </div>

  <div
    [ngClass]="{ 'change-font-size__disabled': fontScale === 1 }"
    (click)="handleDecrementFontSize()"
    id="decrease-font-size"
    class="accessibility-item accessibility_title_item"
    >
    A&nbsp;-
  </div>

  <div
    (click)="toggleTheme()"
    id="toggle-theme"
    class="accessibility-item accessibility_title_item"
    >
    @if (theme === 'LIGHT') {
      <i class="bx bx-moon"></i>
    }
    @if (theme === 'DARK') {
      <i class="bx bx-sun"></i>
    }
  </div>

  <div id="convertic" class="accessibility-item accessibility_title_item">
    <a
      href="https://convertic.gov.co/641/w3-propertyvalue-15339.html"
      target="_blank"
      >
      <i class="bx bxs-megaphone"></i>
    </a>
  </div>

  <div
    id="centroderelevo"
    class="accessibility-item accessibility_title_item accessibility-item-last"
    >
    <a href="https://centroderelevo.gov.co/632/w3-channel.html" target="_blank">
      <i class="bx bx-braille"></i>
    </a>
  </div>
</div>
