<section class="pt-2">
  <div class="tab get-quote-tab">
    <ul class="tabs">
      <li #publicationsLI (click)="changeActiveTab(0)">
        {{ labels.listPublications[lang] }}
      </li>
      <li (click)="changeActiveTab(1)">
        {{
        publicationToEdit
        ? labels.editPublication[lang]
        : labels.createPublication[lang]
        }}
      </li>
    </ul>
    <div class="mb-5">
      <div>
        @switch (activeTabIndex) {
          @case (0) {
            <div class="tabs_item">
              <app-list-publications
                (onEditPublication)="handleEditPublication($event)"
              ></app-list-publications>
            </div>
          }
          @case (1) {
            <div class="tabs_item">
              <app-create-publication
                [publicationToEdit]="publicationToEdit"
                (onSubmit)="submitPublication($event)"
              ></app-create-publication>
            </div>
          }
        }
      </div>
    </div>
  </div>
</section>
