<section class="pt-2">
  <div class="tab get-quote-tab">
    <ul class="tabs">
      <li class="default-btn" #announcementsLI (click)="changeActiveTab(0)">
        {{ labels.listAnnouncements[lang] }}
      </li>
      <li class="default-btn" (click)="changeActiveTab(1)">
        {{ labels.createAnnouncement[lang] }}
      </li>
    </ul>

    <div class="mb-5">
      <div>
        @switch (activeTabIndex) {
          @case (0) {
            <div class="tabs_item">
              <app-list-announcements></app-list-announcements>
            </div>
          }
          @case (1) {
            <div class="tabs_item">
              <app-create-announcement
                (onPublish)="publishAnnouncement($event)"
              ></app-create-announcement>
            </div>
          }
        }
      </div>
    </div>
  </div>
</section>
