<div class="row">
  <!-- @for (newsPoster of section.news; track $index) { -->
  @for (newsPoster of news; track $index) {
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="single-blog-post">
        <div class="blog-img">
          <a
            [routerLink]="
              variant === 'PUBLIC'
                ? '/noticias/' + newsPoster.urlName
                : '/intranet/noticias/' + newsPoster.urlName
            "
          >
            <img
              style="width: 100%"
              [src]="
                getImageUrlByName(newsPoster.imageName) ||
                '/img/blog/blog-7.jpg'
              "
              alt="Image"
            />
          </a>
        </div>
        <div class="blog-content">
          <span
            class="rounded-pill badge badge-primary news-category"
            [ngStyle]="{
              'background-color': wordToHexColor(newsPoster.category.name),
            }"
          >
            {{ newsPoster.category.name }}
          </span>
          <ul class="dynamic-font-size">
            <li class="dynamic-font-size">
              <i class="bx bx-user"></i>
              <span class="dynamic-font-size" [title]="newsPoster.author"
                >{{ newsPoster.author }}
              </span>
            </li>
            <li>
              <i class="bx bx-calendar"></i>
              {{ labels.published[lang] }}:
              {{ formatNewsDate(newsPoster.updatedAt) }}
            </li>
          </ul>
          <h3 class="dynamic-font-size">
            <a
              [routerLink]="'/noticias/' + newsPoster.urlName"
              class="dynamic-font-size"
              >{{ newsPoster.title }}</a
            >
          </h3>
          <p style="text-align: justify" class="dynamic-font-size">
            {{ newsPoster.description }}
          </p>
          <a
            [routerLink]="'/noticias/' + newsPoster.urlName"
            class="read-more dynamic-font-size"
            >{{ labels.readDetails[lang] }}</a
          >
        </div>
      </div>
    </div>
  }
</div>
