<section class="blog-area p-3">
  <div class="sidebar-widget news-sidebar-widget search pb-4">
    <form autocomplete="off" class="search-form">
      <input
        autocomplete="off"
        class="form-control"
        name="searchTerm"
        [(ngModel)]="searchTerm"
        [placeholder]="labels.searchAndHitEnter[lang]"
        type="text"
        (keyup)="handleSearchByTerm($event)"
        />

      <button
        class="search-button"
        type="button"
        (click)="handleClearSearch($event)"
        >
        @if (loadingRecommendations) {
          <div
            class="spinner-border text-primary d-flex flex-column justify-content-center align-items-center align-content-center m-auto"
            role="status"
            (click)="handleClickSearch($event)"
            >
            <span class="visually-hidden">Cargando...</span>
          </div>
        } @else {
          <i [class]="searchTerm ? 'bx bx-x' : 'bx bx-search'"></i>
        }
      </button>
    </form>
  </div>
</section>
