<form
  [formGroup]="formGroup"
  (ngSubmit)="handleSubmit()"
  class="get-quote-form"
  >
  <div class="row pt-3">
    <div class="col-lg-12 col-sm-12">
      <div class="form-group">
        <input
          type="text"
          name="title"
          formControlName="title"
          class="form-control"
          [placeholder]="labels.title.placeholder[lang]"
          [ngClass]="{
            'inline-text-input__invalid': isFieldInvalid('title'),
          }"
          />
        @if (isFieldInvalid('title')) {
          <small
            class="news-input-label__invalid"
            >{{ labels.title.error[lang] }}</small
            >
          }
        </div>
      </div>

      <div class="col-lg-12 col-sm-12">
        <div class="form-group">
          <textarea
            name="description"
            formControlName="description"
            class="form-control"
            [placeholder]="labels.description.placeholder[lang]"
            style="resize: vertical; min-height: 200px; max-height: 400px"
          [ngClass]="{
            'inline-text-input__invalid': isFieldInvalid('description'),
          }"
          ></textarea>
          @if (isFieldInvalid('description')) {
            <small
              class="news-input-label__invalid"
              >{{ labels.description.error[lang] }}</small
              >
            }
          </div>
        </div>

        <div class="col-lg-12 col-sm-12">
          <div class="form-group">
            <input
              type="text"
              name="author"
              formControlName="author"
              class="form-control"
              [placeholder]="labels.author.placeholder[lang]"
          [ngClass]="{
            'inline-text-input__invalid': isFieldInvalid('author'),
          }"
              />
            @if (isFieldInvalid('author')) {
              <small
                class="news-input-label__invalid"
                >{{ labels.author.error[lang] }}</small
                >
              }
            </div>
          </div>

          <div class="col-lg-12 col-sm-12 mt-4">
            <hr />
            <p>
              {{ labels.category.label[lang] }}
              <small>{{ labels.category.selectOne[lang] }}</small>
            </p>
          </div>

          <div class="col-lg-12 col-sm-12 mt-1">
            <div class="row">
              <div
                class="col-lg-6 col-sm-12"
                style="max-height: 200px; overflow-y: auto"
                >
                @for (newsCategory of newsCategories; track newsCategory; let i = $index) {
                  <div
                    class="form-check"
                    >
                    <input
                      formControlName="selectedCategory"
                      class="form-check-input"
                      type="radio"
                      [id]="'category-' + newsCategory.id"
                      [value]="newsCategory.id"
                      />
                    <label
                      class="form-check-label"
                      [for]="'category-' + newsCategory.id"
                      >
                      {{ newsCategory.name }}
                    </label>
                    <i
                      [title]="labels.category.editTitle[lang]"
                      (click)="handleEditCategory(i)"
                      class="bx bx-edit position-relative edit-btn"
                      style="left: 5px; top: 2px; cursor: pointer"
                    ></i>
                    @if (editCategoryMode && editCategoryMode.categoryIndex === i) {
                      <div
                        >
                        <input
                          type="text"
                          (keyup)="handleEditCategoryInput($event)"
                          [value]="editCategoryName"
                          class="form-control w-75 my-1"
                          [placeholder]="labels.category.editPlaceholder[lang]"
                          />
                        <div class="d-flex flex-row">
                          <button
                            type="button"
                            (click)="handleConfirmEditCategory()"
                            class="btn default-btn w-25 p-2"
                            >
                            {{ labels.buttons.confirm[lang] }}
                          </button>
                          <button
                            type="button"
                            (click)="handleCancelEditCategory()"
                            class="btn default-btn bg-danger w-25 p-2"
                            style="margin-left: 5px"
                            >
                            {{ labels.buttons.cancel[lang] }}
                          </button>
                        </div>
                      </div>
                    }
                  </div>
                }
              </div>

              <div class="form-group col-lg-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-lg-9 col-sm-12">
                    <input
                      type="text"
                      name="newCategory"
                      formControlName="newCategory"
                      class="form-control"
                      [placeholder]="labels.category.newCategory[lang]"
                [ngClass]="{
                  'inline-text-input__invalid': isFieldInvalid('newCategory'),
                }"
                      />
                    @if (isFieldInvalid('newCategory')) {
                      <small
                        class="news-input-label__invalid"
                        >{{ labels.category.invalidName[lang] }}</small
                        >
                      }
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <button
                        type="button"
                        (click)="handleAddNewCategory()"
                        class="btn default-btn"
                        >
                        {{ labels.buttons.confirm[lang] }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              @if (isFieldInvalid('selectedCategory')) {
                <small
                  class="news-input-label__invalid mt-2"
                  >{{ labels.category.mustSelectOne[lang] }}</small
                  >
                }
              </div>

              <div class="col-lg-12 col-sm-12 mt-4">
                <hr />
                <p>
                  {{ labels.tags.label[lang] }}
                  <small> {{ labels.tags.selectMultiple[lang] }}</small>
                </p>
              </div>

              <div class="col-lg-12 col-sm-12 mt-1">
                <div class="row">
                  <div
                    class="col-lg-6 col-sm-12"
                    style="max-height: 200px; overflow-y: auto"
                    >
                    @for (newsTag of newsTags; track newsTag; let i = $index) {
                      <div
                        class="form-check position-relative"
                        >
                        <input
                          [checked]="isTagSelected(newsTag.id)"
                          (click)="handleToggleTag(newsTag)"
                          class="form-check-input"
                          type="checkbox"
                          name="tag-radio"
                          [id]="'tag-' + newsTag.id"
                          [value]="'tag-' + newsTag.name"
                          />
                        <label class="form-check-label" for="tag-{{ newsTag.id }}">
                          {{ newsTag.name }}
                        </label>
                        <i
                          [title]="labels.tags.editTitle[lang]"
                          (click)="handleEditTag(i)"
                          class="bx bx-edit position-relative edit-btn"
                          style="left: 5px; top: 2px; cursor: pointer"
                        ></i>
                        @if (editTagMode && editTagMode.tagIndex === i) {
                          <div>
                            <input
                              type="text"
                              (keyup)="handleEditTagInput($event)"
                              [value]="editTagName"
                              class="form-control w-75 my-1"
                              [placeholder]="labels.tags.editPlaceholder[lang]"
                              />
                            <div class="d-flex flex-row">
                              <button
                                type="button"
                                (click)="handleConfirmEditTag()"
                                class="btn default-btn w-25 p-2"
                                >
                                {{ labels.buttons.confirm[lang] }}
                              </button>
                              <button
                                type="button"
                                (click)="handleCancelEditTag()"
                                class="btn default-btn bg-danger w-25 p-2"
                                style="margin-left: 5px"
                                >
                                {{ labels.buttons.cancel[lang] }}
                              </button>
                            </div>
                          </div>
                        }
                      </div>
                    }
                  </div>

                  <div class="form-group col-lg-6 col-sm-12">
                    <div class="row">
                      <div class="form-group col-lg-9 col-sm-12">
                        <input
                          type="text"
                          name="newTag"
                          formControlName="newTag"
                          class="form-control"
                          [placeholder]="labels.tags.newTag[lang]"
                [ngClass]="{
                  'inline-text-input__invalid': isFieldInvalid('newTag'),
                }"
                          />
                        @if (isFieldInvalid('newTag')) {
                          <small
                            class="news-input-label__invalid"
                            >{{ labels.tags.invalidName[lang] }}</small
                            >
                          }
                        </div>
                        <div class="col-lg-3 col-sm-12">
                          <button
                            type="button"
                            (click)="handleAddNewTag()"
                            class="btn default-btn"
                            >
                            {{ labels.buttons.confirm[lang] }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-lg-12 col-md-12">
                    @for (selectedTag of selectedTags; track selectedTag) {
                      <button
                        (click)="handleDeleteSelectedTag(selectedTag.id)"
                        type="button"
                        class="btn btn-primary position-relative m-3"
                        >
                        #{{ selectedTag.name }}
                        <span
                          class="position-absolute top-0 start-100 translate-middle px-2 py-1 bg-danger border border-light rounded-circle"
                          >
                          <i class="bx bx-trash"></i>
                        </span>
                      </button>
                    }
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-sm-12 mx-auto">
                @if (this.formGroup.get('imageName')?.value) {
                  <div
                    class="uploaded-image-spot"
                    >
                    <img
                      [src]="getImageUrlByName(this.formGroup.get('imageName')?.value)"
                      width="100%"
                      alt="Image"
                      />
                  </div>
                }

                <div class="buttons-container d-flex justify-content-center text-center">
                  <div class="row pt-3">
                    <div class="col-lg-12 col-sm-12">
                      <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#input-news-base-info-image"
                        class="btn default-btn"
                        >
                        {{ labels.buttons.addImage[lang] }}
                      </button>
                    </div>
                  </div>
                </div>
                @if (isFieldInvalid('imageName')) {
                  <div
                    class="news-input-label__invalid text-center"
                    >
                    <p>{{ labels.image.error[lang] }}</p>
                  </div>
                }
              </div>

              <div class="row mt-5">
                <div class="col-lg-5 col-sm-12 d-flex m-auto">
                  <button type="submit" class="btn default-btn success-button m-1">
                    {{ labels.buttons.continue[lang] }}
                  </button>
                  <button type="reset" class="btn default-btn clean-button m-1">
                    {{ labels.buttons.clearFields[lang] }}
                  </button>
                </div>
              </div>
            </form>

            <!-- --------------------------- -->
            <app-upload-or-reuse-image
              modalFor="input-news-base-info-image"
              elementType="news"
              (onSubmit)="handleSetNewsImage($event)"
            ></app-upload-or-reuse-image>
