<form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  <section>
    <div class="row pt-5">
      <div class="col-lg-12 col-sm-12 position-relative">
        <label
          for="specificObjectives"
          class="position-absolute"
          style="top: -25px"
        >
          {{ labels.specificObjectives.label[lang] }}
        </label>

        <div class="form-group">
          <textarea
            name="specificObjectives"
            formControlName="specificObjectives"
            class="form-control"
            [placeholder]="labels.specificObjectives.placeholder[lang]"
            style="resize: vertical; min-height: 100px; max-height: 400px"
          ></textarea>
        </div>
      </div>

      <div class="col-lg-4 col-md-8 col-sm-12">
        <button
          type="button"
          (click)="handleAddSpecificObjectiveParagraph()"
          class="btn default-btn btn-info w-100"
        >
          {{
            editMode
              ? labels.updateSpecificObjective[lang]
              : labels.addSpecificObjective[lang]
          }}
        </button>
      </div>
    </div>

    <div class="row">
      @for (
        specificObjectivesParagraph of specificObjectivesParagraphs;
        track specificObjectivesParagraph;
        let i = $index
      ) {
        <div class="col-lg-12 col-sm-12 m-1 p-1">
          <span>{{ labels.specificObjectiveNro[lang] }} #{{ i + 1 }}</span>
          <div class="card">
            <div class="row">
              <div class="col-lg-12 col-sm-12 p-3">
                <span>{{ specificObjectivesParagraph }}</span>
              </div>
              <div
                class="col-lg-12 col-sm-12 p-3 d-flex justify-content-center"
              >
                <button
                  type="button"
                  class="btn btn-info m-2 text-white"
                  (click)="handleEditSpecificObjectiveParagraph(i)"
                >
                  {{ labels.edit[lang] }}
                </button>
                <button
                  type="button"
                  (click)="handleDeleteSpecificObjectiveParagraph(i)"
                  class="btn btn-danger m-2"
                >
                  {{ labels.delete[lang] }}
                </button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </section>

  <div class="row">
    <div class="col-lg-5 col-sm-12 d-flex m-auto">
      <button
        type="button"
        (click)="handleReset()"
        class="btn default-btn clean-button m-1"
      >
        {{ labels.restoreChanges[lang] }}
      </button>
    </div>
  </div>
</form>
