<section class="card">
  <div class="card-header">
    <h2>{{ labels.resourceType[lang] }} #9</h2>
  </div>
  <div class="card-body content step-2 p-2">
    <div class="col-lg-12 col-md-12">
      <div class="blog-details-content">
        <div class="blog-top-content">
          <blockquote>
            <p>
              “{{ resourceContent.quote }}” <u>{{ resourceContent.author }}</u
              >,
              <small> {{ resourceContent.role }}</small>
            </p>
            <i class="bx bxs-quote-alt-right"></i>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button
          [disabled]="isFirst"
          (click)="moveUp()"
          [ngClass]="{ 'disable-button': isFirst }"
          class="btn btn-info m-1 text-white"
        >
          <i class="bx bx-up-arrow"></i>
        </button>
        <button
          [disabled]="isLast"
          (click)="moveDown()"
          [ngClass]="{ 'disable-button': isLast }"
          class="btn btn-info m-1 text-white"
        >
          <i class="bx bx-down-arrow"></i>
        </button>
        <button
          class="btn btn-danger m-1"
          (click)="handleDeleteResource($event)"
        >
          {{ labels.delete[lang] }}
        </button>
      </div>
    </div>
  </div>
</section>
