<section class="testimonials-area testimonials-area-three pt-100 pb-70">
  <div class="container">
    <div class="section-title w-100">
      <h3>{{ content.title }}</h3>
    </div>
    @for (paragraph of content.paragraphs; track paragraph) {
      <p class="w-100 px-1 pb-3">
        {{ paragraph }}
      </p>
    }

    <div class="testimonials">
      <div class="testimonials-slider-three">
        <owl-carousel-o [options]="testimonialsSliderOptions">
          @for (quote of content.quotes; track quote) {
            <ng-template carouselSlide>
              <div class="testimonials-item">
                <img
                  style="height: 100px; width: 100px"
                  [src]="getImageByName(quote.imageName)"
                  [alt]="target + ' Image'"
                  />
                <p>“{{ quote.content }}”<i class="flaticon-right-quote"></i></p>
                <h3>{{ quote.author }}</h3>
                <span>{{ quote.role }}</span>
              </div>
            </ng-template>
          }
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
