<section class="pt-2">
  <div class="tab get-quote-tab">
    <ul class="tabs">
      <li
        #scientificEcosystemsLI
        class="default-btn"
        (click)="changeActiveTab(0)"
      >
        {{ labels.currentScientificEcosystem[lang] }}
      </li>
      <li class="default-btn" (click)="changeActiveTab(1)">
        {{ labels.createScientificEcosystem[lang] }}
      </li>
    </ul>

    <div class="mb-5">
      <div class="tab_content container">
        @switch (activeTabIndex) {
          @case (0) {
            <div class="tabs_item">
              <app-scientific-ecosystem-list
                variant="INTRANET"
              ></app-scientific-ecosystem-list>
            </div>
          }
          @case (1) {
            <div class="tabs_item">
              <app-create-scientific-ecosystem
                [scientificEcosystemToEdit]="scientificEcosystemToEdit"
                (onSubmit)="submitScientificEcosystem($event)"
                (onCancelUpdate)="handleCancelUpdate()"
              ></app-create-scientific-ecosystem>
            </div>
          }
        }
      </div>
    </div>
  </div>
</section>
