<section class="get-quote-area pt-3">
  <div class="container">
    <div class="tab get-quote-tab">
      <ul
        class="create-news_content-tabs tabs mb-2"
        (click)="handleClickOnTab()"
      >
        <li
          [ngClass]="{ 'text-primary': activeTabIndex === 0 }"
          (click)="changeActiveTab(0)"
        >
          {{ labels.type0[lang] }}
        </li>
        @if (!baseInfo) {
          <span></span>
        } @else {
          @for (section of sections; track $index) {
            <li
              [ngClass]="{ 'text-primary': activeTabIndex === $index + 1 }"
              (click)="changeActiveTab($index + 1)"
            >
              {{ getSectionName(section.TYPE)[lang] }}
            </li>
          }
        }
      </ul>

      <div class="tab_content">
        @switch (activeTabIndex) {
          @case (0) {
            <div class="tabs_item">
              <app-create-scientific-ecosystem-base-info
                (onSubmit)="handleSetBaseInfo($event)"
              ></app-create-scientific-ecosystem-base-info>
            </div>
          }

          @case (1) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-about-us
                (onFormChange)="handleUpdateAboutUs($event)"
              ></app-set-scientific-ecosystem-about-us>
            </div>
          }

          @case (2) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-general-objective
                (onFormChange)="handleUpdateGeneralObjective($event)"
              ></app-set-scientific-ecosystem-general-objective>
            </div>
          }

          @case (3) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-specific-objectives
                (onFormChange)="handleUpdateSpecificObjectives($event)"
              ></app-set-scientific-ecosystem-specific-objectives>
            </div>
          }

          @case (4) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-roadmap
                target="ecosystems"
                (onFormChange)="handleUpdateRoadmap($event)"
              ></app-set-scientific-ecosystem-roadmap>
            </div>
          }

          @case (5) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-guidelines
                target="ecosystems"
                (onFormChange)="handleUpdateGuidelines($event)"
              ></app-set-scientific-ecosystem-guidelines>
            </div>
          }

          @case (6) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-how-to-participate
                target="ecosystems"
                (onFormChange)="handleUpdateHowToParticipate($event)"
              ></app-set-scientific-ecosystem-how-to-participate>
            </div>
          }

          @case (7) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-members
                target="ecosystems"
                (onFormChange)="handleUpdateMembers($event)"
              ></app-set-scientific-ecosystem-members>
            </div>
          }

          @case (8) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-projects
                target="ecosystems"
                (onFormChange)="handleUpdateProjects($event)"
              ></app-set-scientific-ecosystem-projects>
            </div>
          }

          @case (9) {
            <div class="tabs_item">
              <app-set-scientific-ecosystem-contact
                (onFormChange)="handleUpdateContact($event)"
              ></app-set-scientific-ecosystem-contact>
            </div>
          }
        }
      </div>
    </div>
  </div>
</section>

<hr />

<div class="row mt-5">
  <div class="col-lg-12 col-sm-12 d-flex justify-content-center">
    @if (baseInfo) {
      <button
        data-bs-toggle="modal"
        data-bs-target="#changeEcosystemSectionsOrder"
        class="btn default-btn m-1"
      >
        {{ labels.changeSectionsOrder[lang] }}
      </button>
    }
    <!-- {{ isEditing ? 'EDITING' : 'CREATING' }} -->
    <button
      [disabled]="!baseInfo"
      type="button"
      (click)="handlePublishScientificEcosystem()"
      class="btn default-btn m-1 bg-success text-white"
    >
      {{ isEditing ? labels.confirmUpdate[lang] : labels.publish[lang] }}
    </button>

    @if (isEditing) {
      <button
        type="button"
        (click)="handleCancelUpdate()"
        class="btn default-btn bg-danger m-1 text-white"
      >
        {{ labels.cancelUpdate[lang] }}
      </button>
    }
  </div>
</div>
<!-- <h6>{{ createInfo | json }}</h6> -->

<app-change-scientific-ecosystem-sections-modal>
</app-change-scientific-ecosystem-sections-modal>
