<div class="page-title-area bg-partners">
  <div class="container">
    <div class="page-title-content">
      <h2 class="w-75 dynamic-font-size">
        {{ labels.transformativeMissions[lang] }}
      </h2>
      <ul>
        <li>
          <a class="dynamic-font-size" routerLink="/">{{
            labels.main[lang]
          }}</a>
        </li>
        <li class="active dynamic-font-size">
          {{ labels.transformativeMissions[lang] }}
        </li>
      </ul>
    </div>
  </div>
</div>

<main class="container">
  <div class="mt-5">
    <h1 class="dynamic-font-size">{{ labels.mainTitle[lang] }}</h1>
    <small class="dynamic-font-size">{{ labels.updatedAt[lang] }}</small>
  </div>

  <section style="text-align: justify; margin-bottom: 150px">
    <p class="dynamic-font-size">
      {{ labels.paragraph1[lang] }}
    </p>
    <p class="dynamic-font-size">
      {{ labels.paragraph2[lang] }}
    </p>

    <ul>
      <li class="dynamic-font-size">
        {{ labels.listItems.item1[lang] }}
      </li>
      <li class="dynamic-font-size">
        {{ labels.listItems.item2[lang] }}
      </li>
      <li class="dynamic-font-size">
        {{ labels.listItems.item3[lang] }}
      </li>
      <li class="dynamic-font-size">
        {{ labels.listItems.item4[lang] }}
      </li>
    </ul>
  </section>
</main>
