@for (section of sections; track section) {
  <nav class="row navbar bg-body-tertiary border-1 px-3 mt-1">
    <div
      class="py-4 col-12 rounded-1 d-flex justify-content-between align-items-center"
      style="cursor: pointer"
      (click)="handleToggleSection(section.id)"
    >
      <a class="navbar-brand" style="width: 10%">
        {{ section.title[lang] }}
      </a>
      @if (section.id === activeSection?.id) {
        <i class="bx bxs-up-arrow"></i>
      } @else {
        <i class="bx bxs-down-arrow"></i>
      }
    </div>
    @if (section.id === activeSection?.id) {
      <div class="col-12 mx-auto">
        <div class="p-4">
          <p [innerHTML]="section.content[lang]"></p>
        </div>
      </div>
    }
  </nav>
}
