@for (scientificEcosystem of scientificEcosystems; track $index) {
  <li class="nav-item">
    <a
      [routerLink]="['/ecosistema/' + scientificEcosystem.urlName]"
      class="nav-link dynamic-font-size"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ scientificEcosystem.title }}
    </a>
  </li>
}

@if (scientificEcosystems.length === 0 && !isLoading) {
  <p
    class="nav-link dynamic-font-size"
    routerLinkActive="active"
    style="user-select: none"
  >
    {{ labels.noEcosystemsFound[lang] }}
  </p>
}
