<div
  class="modal fade w-100"
  id="commissionMembersModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ labels.fullListOfMembers[lang] }}
          {{ activeCommission.label[lang] }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="my-3 mx-3">
          <input
            class="form-control me-2"
            type="search"
            (keyup)="handleSearch($event)"
            placeholder="{{ labels.searchByName[lang] }}"
            aria-label="Search"
            />
        </div>

        @if (loading) {
          <div>
            <div
              class="d-flex flex-column align-items-center justify-content-center"
              style="height: 100vh"
              >
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <p class="my-2 dynamic-font-size">
                {{ 'Cargando' }}
              </p>
            </div>
          </div>
        } @else {
          @for (memberInfo of filteredMembersInfo; track memberInfo) {
            <div>
              <div class="candidate-list-box card my-1 mx-3">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-lg-1 col-md-3 col-sm-6">
                      @if (memberInfo.browserUrl) {
                        <div
                          class="candidate-list-images"
                          >
                          <img
                            [src]="memberInfo.browserUrl"
                            alt=""
                            class="avatar-md img-thumbnail rounded-circle"
                            />
                        </div>
                      } @else {
                        <i
                        style="
                          font-size: 50px;
                          border-radius: 50%;
                          padding: 15px;
                        "
                          class="bx bx-user rounded-circle text-center w-100"
                        ></i>
                      }
                    </div>
                    <div class="col-lg-9">
                      <div class="candidate-list-content">
                        <h5 class="fs-19 mb-0">
                          {{ memberInfo.name }}
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
        }


        <!-- <app-commission-members-pagination></app-commission-members-pagination> -->
        <!-- ------------------------ -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close button
        </button>
      </div>
    </div>
  </div>
</div>
