<!-- Start Blog Area -->
<section class="blog-area ptb-70">
  <div class="container">
    <app-events-filter
      (onFiltersChange)="updateEventFilters($event)"
    ></app-events-filter>

    @if (loadingPosters) {
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <p class="my-2">Cargando Eventos...</p>
      </div>
    } @else {
      <div class="row">
        @for (eventPoster of eventPosters; track eventPoster) {
          <div class="col-lg-4 col-md-6">
            <div class="single-blog-post">
              <div class="blog-img" style="position: relative">
                <a
                  target="_blank"
                  [routerLink]="
                    variant === 'PUBLIC'
                      ? '/eventos/' + eventPoster.urlName
                      : '/intranet/eventos/' + eventPoster.urlName
                  "
                >
                  <img
                    [src]="getImageByEventId(eventPoster.imageName)"
                    alt="Image"
                  />
                </a>
                <p class="event-scope__ribbon">
                  {{
                    eventPoster.scope === 'NATIONAL'
                      ? 'NACIONAL'
                      : 'INTERNACIONAL'
                  }}
                </p>
              </div>
              <div class="blog-content" [title]="eventPoster.description">
                <span
                  class="rounded-pill badge badge-primary p-2 event-category"
                  [ngStyle]="{
                    'background-color': wordToHexColor(
                      eventPoster.category.name
                    ),
                  }"
                >
                  {{ eventPoster.category.name }}
                </span>
                <ul style="margin-top: -10px">
                  <li>
                    <i class="flaticon-calendar"></i
                    >{{ formatDate(eventPoster.startDate) }}
                    -
                    {{ formatDate(eventPoster.endDate) }}
                  </li>
                </ul>
                <ul style="margin-top: -20px">
                  <li>
                    <i class="flaticon-user"></i>Organiza:
                    {{
                      eventPoster.author
                        ? eventPoster.author
                        : 'Sin organizador'
                    }}
                  </li>
                </ul>
                <h3 style="margin-top: -15px">
                  <a
                    target="_blank"
                    [routerLink]="
                      variant === 'PUBLIC'
                        ? '/eventos/' + eventPoster.urlName
                        : '/intranet/eventos/' + eventPoster.urlName
                    "
                    >{{ eventPoster.title }}</a
                  >
                </h3>
                <p>
                  {{ trimEventDescription(eventPoster.description) }}
                </p>
                <div class="d-flex justify-content-evenly">
                  <button
                    (click)="handleEditEvent(eventPoster)"
                    class="btn default-btn bg-info"
                  >
                    {{ labels.edit[lang] }}
                  </button>
                  <button
                    class="btn default-btn bg-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteEventModal"
                    (click)="handleSetEventToDelete(eventPoster)"
                  >
                    {{ labels.delete[lang] }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        }
        <app-complete-pagination
          [totalElements]="pagination.totalElements"
          [pageSize]="pagination.pageSize"
          [currentPage]="pagination.currentPage"
          [showTotalRecords]="true"
          (onPageChange)="handleGoToPage($event)"
        >
        </app-complete-pagination>
      </div>
    }
  </div>
</section>

@if (eventToDelete) {
  <div>
    <app-delete-event-confirmation
      [title]="labels.deleteEventConfirmation"
      [valueToType]="eventToDelete.title"
      (onConfirm)="handleConfirmDelete(eventToDelete.id)"
    ></app-delete-event-confirmation>
  </div>
}
