@if (publicationDetail) {
  <div>
    <div class="page-title-area bg-events">
      <div class="container">
        <div class="page-title-content">
          <h2>{{ labels.publications[lang] }}</h2>
          <ul>
            <li>
              @if (variant === 'PUBLIC') {
                <a routerLink="/">{{ labels.main[lang] }}</a>
              } @else {
                <a routerLink="/intranet">{{ labels.main[lang] }}</a>
              }
            </li>
            <li>
              @if (variant === 'PUBLIC') {
                <a routerLink="/publicationes">{{ labels.publications[lang] }}</a>
              } @else {
                <a routerLink="/intranet/publicationes">{{
                  labels.publications[lang]
                }}</a>
              }
            </li>
            <li class="active">{{ publicationDetail.title }}</li>
          </ul>
        </div>
      </div>
    </div>
    @if (errorPublicationDetail) {
      <div>
        <div class="container">
          <div class="alert alert-danger my-5" role="alert">
            {{ labels.informationLoadError[lang] }}
          </div>
        </div>
      </div>
    } @else {
      <article class="mx-5" style="margin-top: 50px; background-color: #269498">
        <div class="row p-5">
          <div class="col-3">
            <img
              style="cursor: pointer"
              [src]="imageUrl"
              width="300px"
              alt="Image"
              />
          </div>
          <div class="col-9 pt-4">
            <h6 style="font-weight: lighter">
              <span style="font-weight: bold"
                >{{ labels.publishedAt[lang] }}:</span
                >
                {{ formatDate(publicationDetail.createdAt!) }}
              </h6>
              <div>
                <a
                  [href]="attachmentUrl"
                  target="_blank"
                  class="default-btn mt-3 position-relative rounded-pill px-4"
                  style="cursor: pointer"
                  >
                  {{ labels.downloadPDF[lang] }}
                  <i
                    class="bx bx-cloud-download"
                    style="font-size: 1.2rem; position: relative; top: 3px"
                  ></i>
                </a>
              </div>
              <div>
                <button
                  (click)="handleFetchSummaryPdf()"
                  class="default-btn mt-3 position-relative rounded-pill px-4 bg-info"
                  style="cursor: pointer"
                  >
                  {{ labels.readOnline[lang] }}
                  <i
                    class="bx bx-show"
                    style="font-size: 1.2rem; position: relative; top: 3px"
                  ></i>
                </button>
              </div>
            </div>
            @if (errorDocument) {
              <div>
                <div class="container mt-5">
                  <div class="alert alert-danger" role="alert">
                    {{ labels.documentLoadError[lang] }}
                  </div>
                </div>
              </div>
            }
          </div>
          @if (displaySummaryPdf) {
            <div class="row">
              <div class="col-lg-1 col-md-12 col-sm-12">
                <button
                  (click)="hideDocument()"
                  class="default-btn bg-danger px-3 mx-3 my-3 w-100"
                  >
                  {{ labels.hide[lang] }} <i class="bx bx-hide"></i>
                </button>
              </div>
              <div class="col-12">
                <div style="height: 100vh">
                  <iframe
                    id="pdfFrame"
                    [src]="summaryPdf"
                    width="100%"
                    height="100%"
                    frameborder="0"
                  ></iframe>
                </div>
              </div>
            </div>
          }
        </article>
        <article class="mx-5" style="margin-top: 100px; padding-bottom: 150px">
          @for (archive of publicationDetail.archives; track archive) {
            <div>
              <hr />
              <app-archive-item [archive]="archive"></app-archive-item>
            </div>
          }
        </article>
      }
    </div>
  }
